@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@theme {
  --color-main: #e6b110;
  --color-text-color:#979797;
  --font-main: 'Sora', sans-serif;
}

form {
  position: relative; /* Ensure pseudo-elements position ho sahi tareeke se */
  z-index: 1;
}

/* form-bg.png ko form ke bilkul neeche lagana */
form::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/form-bg.png) center/cover no-repeat;
  z-index: -1; /* Pseudo-element ko form ke piche rakhna */
}

/* form-bg-v.png ko expand hone dena bina cut hue */
form::after {
  content: "";
  position: absolute;
  top: -20%;
  left: -100%;
  width: 300%;
  height: 1293.29px;
  background: url(./img/form-bg-v.png) center/contain no-repeat;
  pointer-events: none; /* Background clickable na ho */
  z-index: -2; /* Pseudo-element ko form ke piche rakhna */
  opacity: 0.7;
}
